@use '../variables' as *;
@use '../mixins' as *;

.site-header {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;

  @include respond-to('md') {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding: $spacing-lg $spacing-md;
  }
}

.logo-ribbon {
  width: 200px;
  height: 20px;
  margin: $spacing-sm auto 0;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    background: linear-gradient(90deg,
      transparent 0%,
      $color-silver 20%,
      $color-silver 80%,
      transparent 100%);
    opacity: 0.6;
  }

  &::before {
    width: 100%;
    top: 0;
    left: 0;
  }

  &::after {
    width: 60%;
    top: 8px;
    left: 20%;
  }
}
