@use '../variables' as *;
@use '../mixins' as *;

.site-footer {
  position: absolute;
  bottom: 3%;
  right: 5%;
  z-index: 10;
  text-align: right;
  font-size: 0.65rem;
  color: $color-text-dim;

  @include respond-to('md') {
    position: relative;
    bottom: auto;
    right: auto;
    text-align: center;
    padding: $spacing-lg;
  }
}

.update-link {
  display: block;
  font-size: 0.6rem;
  letter-spacing: 1px;
  opacity: 0.7;
  @include smooth-transition(opacity);

  &:hover {
    opacity: 1;
  }
}

.archive-link {
  display: block;
  font-size: 0.55rem;
  opacity: 0.5;
  font-style: italic;
}
