@use '../variables' as *;
@use '../mixins' as *;

.site-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @include respond-to('md') {
    height: auto;
    min-height: 100vh;
  }
}

.main-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  padding-top: 15%;

  @include respond-to('lg') {
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  @include respond-to('md') {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    gap: $spacing-lg;
  }
}

.ellipse-bg {
  @include absolute-center;
  width: 85%;
  height: 70%;
  border-radius: 50%;
  background: radial-gradient(ellipse at center,
    $color-wine 0%,
    $color-wine-dark 60%,
    transparent 70%);
  opacity: 0.9;
  z-index: 1;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    border-radius: 50%;
    border: 3px solid $color-wine;
    opacity: 0.4;
  }

  @include respond-to('md') {
    display: none;
  }
}
