@use '../variables' as *;
@use '../mixins' as *;

// Shared base for absolutely positioned menus
%menu-absolute {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);

  ul {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  a {
    font-family: $font-menu;
    font-size: clamp(1rem, 1.4vw, 1.3rem);
    color: $color-text-dim; // Start slightly dim
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    display: block;
    padding: 0.1rem 0;

    &:hover,
    &.active {
      color: $color-white;
      transform: scale(1.05);
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }
  }

  @include respond-to('md') {
    position: relative;
    top: auto;
    left: auto !important;
    right: auto !important;
    transform: none;
    padding: $spacing-md;
    text-align: center;

    ul {
      align-items: center;
    }
  }
}

.menu-principal {
  @extend %menu-absolute;
  left: 20%; // Near the left curve
  text-align: right;

  // Organic curve effect for left menu (concave left)
  li {
    &:nth-child(1) {
      margin-right: 40px;
    }

    &:nth-child(2) {
      margin-right: 25px;
    }

    &:nth-child(3) {
      margin-right: 15px;
    }

    &:nth-child(4) {
      margin-right: 5px;
    }

    &:nth-child(5) {
      margin-right: 0px;
    }

    // Center of curve
    &:nth-child(6) {
      margin-right: 5px;
    }

    &:nth-child(7) {
      margin-right: 15px;
    }

    &:nth-child(8) {
      margin-right: 30px;
    }

    &:nth-child(9) {
      margin-right: 50px;
    }

    &:nth-child(10) {
      margin-right: 70px;
    }

    &:nth-child(11) {
      margin-right: 90px;
    }
  }

  @include respond-to('md') {
    li {
      margin-right: 0 !important;
    }
  }
}

.menu-media {
  @extend %menu-absolute;
  right: 15%; // Near the right curve upper section
  top: 35%; // Positioned higher as per reference
  text-align: right; // Align right effectively

  // Organic curve effect for right menu
  li {
    &:nth-child(1) {
      margin-right: 60px;
    }

    &:nth-child(2) {
      margin-right: 40px;
    }

    &:nth-child(3) {
      margin-right: 20px;
    }

    &:nth-child(4) {
      margin-right: 10px;
    }

    &:nth-child(5) {
      margin-right: 5px;
    }

    &:nth-child(6) {
      margin-right: 0px;
    }
  }

  @include respond-to('md') {
    top: auto;

    li {
      margin-right: 0 !important;
    }
  }
}